.idea/
logs/

.editorconfig
.eslintrc
.npmignore
.babelrc
.gitignore
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
.eslintignore
.codeclimate.yml

config/
.github/

# testing
karma.conf.js
coverage/

# demo build
demo/
webpack.config.js

